{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block title %}Reason for no{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Commodi-tea ☕</h1>

            <form action="{{ updateIdentificationPath }}" method="post">
            {{ govukRadios({
                name: "reason",
                fieldset: {
                    legend: {
                        text: "Why was your answer \"No\"?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                        value: "wrong",
                        text: "The code is wrong",
                        hint: {
                            text: "There is enough information in the description but the code is wrong"
                        }
                    },
                    {
                        value: "vague",
                        text: "The description is too vague to classify"
                    }
                ]
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({"text": "Continue", "type": "submit", "preventDoubleClick": true}) }}
            </div>
            </form>
        </div>
    </div>
{% endblock %}
