{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}


{% block title %}Leader Board{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Commodi-tea</h1>

            {%- set classifierCaption = ["Top ", numberOfClassifiers, " Classifiers"] | join %}
            {{ govukTable({
                caption: classifierCaption,
                captionClasses: "govuk-table__caption--l",
                firstCellIsHeader: true,
                head: formattedData.headers,
                rows: formattedData.rows
    }) }}
        </div>
    </div>
{% endblock %}
